@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;400&family=Roboto:wght@400&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --primary-text-color:#183b56;
    --secondry-text-color:#577592;
    --accent-color:#2294ed;
    --accent-color-dark:#1d69a3;
    --padding-inline-section:20px;

}
body{
    font-family: 'poppins', sans-serif;
    color: var(--primary-text-color);
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
}

p{
    font-family: 'roboto',sans-serif;
    font-size: 1.25rem;
    color: var(--secondry-text-color);
    line-height: 1.8rem;
}

a{
    text-decoration: none;
    display: inline-block;
}

ul{
    list-style: none;
}

.hover-link{
    color: var(--primary-text-color);
    transition: 0.2s ease-out;
}
.hover-link:hover{
    color: var(--accent-color);
}

.primary-button{
    background-color: var(--accent-color);
    font-weight: 700;
    border-radius: 6px;
    color: white !important;
    padding: 12px 24px;
    box-shadow: 0 0 2px var(--secondry-text-color);
    text-align: center;
    
}
.primary-button:hover{
    background-color: var(--accent-color-dark);
    
}


.secondry-button{
    border: 0.5px solid var(--secondry-text-color);
    border-radius: 6px;
    font-weight: 700;
    padding: 12px 24px;
    color: var(--primary-text-color);
    transition: 0.2s ease-out;
}
.secondry-button:hover{
    border-color: var(--accent-color);
    color: var(--accent-color) !important;
}
/*utality classes*/
.small-bold-text{
    font-size: 1rem;
    font-weight: 700;
}

.container{
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
    overflow: hidden;
}

.flex{
    display: flex;
    align-items: center;
}

/*top banner*/
.top-banner{
    background-color: #4fb3df;
    background-image: url(https://assets-global.website-files.com/5af97a9c84ec1bc79d81b5f4/5b7e4d7973addf81ed1f4010_pattern.png);
    background-size: 300px;
}
.banner-text{
    color: white;
    padding: 15px 30px;
    text-align: center;
}
/*nav bar*/
.main-nav{
    margin-top: 20px;
    justify-content: space-between;
    position: relative;
}
.company-logo img{
    width: 200px;
}

.nav-links{
    flex-basis: 730px;
}

.nav-links ul{
    justify-content: end;
    gap: 40px;
}
.nav-toggle{
    display: none;
}
/* header section */

header{
    padding: 50px var(--padding-inline-section);
}
.header-section{
    justify-content: center;
    gap: 50px;
}
.header-left{
    max-width: 40vw;
}
.header-left h1{
    margin-top: 20px;
    margin-bottom: 10px;
}
.get-started-btn{
    margin-top: 20px;
}
.header-right img{
    width: 100%;
}
/* company section */
.companies-header{
    text-align: center;
    padding-block: 30px;
    color: var(--primary-text-color);
}
.logos{
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}
.logo{
    height: 46px;
}
/* features section */
.features-section{
    padding: 80px var(--padding-inline-section) 0;
    background-image: url(https://assets-global.website-files.com/5af97a9c84ec1bc79d81b5f4/5af98b9f779b5a7d0a80351e_Oval%201.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.features-header{
    text-align: center;
    margin-bottom: 30px;
}

.features-header h2{
    padding-bottom: 20px;
}
.features-area{
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    margin-top: 30px;
}
.features-card{
    flex-direction: column;
    gap: 20px;
    max-width: 30%;
    text-align: center;
}

/* big feature section */
.big-features-section{
    padding: 30px var(--padding-inline-section) 0;
}
.big-feature-container{
    gap: 30px;
}
.feature-img img{
    width: 100%;
}
.feature-desc{
    flex-direction: column;
    align-items: flex-start;
}

#second-big-feature{
    flex-direction: row-reverse;
}
.testimonial-img1{
    width: 130px;
    padding-block: 25px;
}
.testimonial-text{
    font-family: Averta PE,sans-serif;
    max-width: 410px;
    color: #183b56;
    text-align: left;
    font-weight: 600;
    line-height: 1.5em;
    font-size: 16px;
    letter-spacing: 1px;
    background-image: url(	https://assets-global.website-files.com/5af97a9c84ec1bc79d81b5f4/5af9a44aa9b84e59b0b95121_quote.svg);
    background-repeat: no-repeat;
    margin-bottom: 20px;
}
.person{
    
}

.person img{
    width: 60px;
    margin-right: 15px;
}
/* example section */
.example-section{
    margin-top: 50px;
}
.example-header{
    flex-direction: column;
    gap: 20px;
    padding-top: 30px;
    text-align: center;
}
.example-area{
    justify-content: space-between;
    margin-block: 30px;
    flex-wrap: wrap;
}
.example-card{
    width: 23%;
    min-height: 300px;
    position: relative;
    background-color: black;
    background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.8)),	url(../newphotos/5b48591a238eb6563b4d3581_cover_tasks.jpg);
    background-size: cover;
    transition: 0.4s ease-out;
}
.example-card:hover{
    box-shadow: 0 0 10px #888;
}
.example-card:nth-child(2){
    background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.8)),	url(../newphotos/5b48581f238eb652d84d356f_cover_navigate.jpg);
    background-size: cover;
}
.example-card:nth-child(3){
    background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.8)),	url(../newphotos/5b485751238eb68a594d3555_cover_audience.jpg);
    background-size: cover;
}
.example-card:nth-child(4){
    background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.8)),	url(../newphotos/5b48587a238eb690dd4d3577_cover_about.jpg);
    background-size: cover;
}
.card-text{
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    color: white;
}
/* cta section */
.cta-container-section{
    flex-direction: column;
    gap: 30px;
    color: white;
    text-align: center;
}
.cta-section{
    background-color: #183b54;
    padding: 120px var(--padding-inline-section) 80px;
}
.cta-container-section p{
    color: white;
    margin-top: 20px;
}
/* footer */
footer{
    background-color: #ebf2fa;
    padding-block: 80px;
}
.link-colum{
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.footer-container{
    align-items: flex-start;
    justify-content: space-between;
}
/* sub footer */
.sub-footer{
    background-color: #b9cde4;
    padding: var(--padding-inline-section);
}
.sub-footer-container{
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
